
<div class="card mt-5">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="fs-4">Suas Listas</span>
    <%= link_to 'Nova Lista', new_list_path, class: "btn btn-success btn-sm" %>
  </div>
  
  <ul class="list-group">
    <% @lists.each do |list| %>
    <div class="">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h5 class="my-2">
          <span>
            <%= link_to list.title, list_path(list) %>
          </span>
          <span class="badge bg-<%= list.status_color %> mx-3 px-3">
            <%= list.status %>
          </span>
        </h5>
        <span>
          <%= link_to 'Deletar', list, method: :delete, class: "btn btn-danger btn-sm" %>
        </span>
      </li>
    </div>
    <% end %>
  </ul>
  
</div>
