<div class="p-sm-3">

  <div class="d-flex flex-column justify-content-center">

    <div class="d-flex justify-content-center">
      <%= image_tag 'login.svg', class: "img-fluid w-50" %>
    </div>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field pb-2">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
      class: "form-control" %>
    </div>
    
    <div class="field py-2">
      <div class="label d-flex justify-content-between">
        <%= f.label "Senha", class: "form-label" %>
        <div class="">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha",
       class: "form-control" %>
    </div>
    
    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box  :remember_me, class: "form-check-input" %>
      <%= f.label 'Lembrar', class: "form-check-label" %>
    </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit "Entrar", class: "btn btn-success px-3 my-2" %>
    </div>
    <% end %>
    
  </div>
  
</div>
